<div class="" id="img-slider-container" >
    <ul class="list-nostyle" >
        <li>@Html.ActionLink("Link One", "", "", new { @class = "btn btn-default" })</></li>
        <li>@Html.ActionLink("Link One", "", "", new { @class = "btn btn-default" })</li>
        <li>@Html.ActionLink("Link One", "", "", new { @class = "btn btn-default" })</li>
        <li>@Html.ActionLink("Link One", "", "", new { @class = "btn btn-default" })</li>
        <li>@Html.ActionLink("Link One", "", "", new { @class = "btn btn-default" })</li>
    </ul>
    <div class="progress">
        <div class="progress-bar"  id="prg-bar" role="progressbar"
             aria-valuemin="0" aria-valuemax="100">
        </div>
    </div>
    <div class="img-container">        
        <section id="slider_wrapper" class="add-shadow">

            <div id="slide_back"><img src="~/Content/Images/slide1.png" /></div>
            <div id="slide_front"><img src="~/Content/Images/slide2.png" /></div>

        </section>

        <section id="counter">1</section>

    </div>

    
</div>

