extends ./_profile.pug

block profileNavBar
  a(class='mdl-layout__tab is-active', href='/profile/userinfo') Info
  a(class='mdl-layout__tab', href='/profile/workout') Workout
  a(class='mdl-layout__tab', href='/profile/diet') Diet


block profile_views
  div.profile-page
    div(class='mdl-grid')
      div(class='mdl-cell mdl-cell--3 mdl-cell--1-offset')
        h3 User Profile

    section(class='section--center mdl-grid')
      div.mdl-layout-spacer
      div(class='title-card mdl-card mdl-shadow--2dp mdl-color--green-50 mdl-cell mdl-cell--4-col-desktop')
        div(class='sub-title')
          h4 Info
        div(class='mdl-card__title')
          table(class='user-info mdl-cell mdl-cell--12-col')
            tr
              th Name:
              td #{profile.firstName} #{profile.lastName}
            tr
              th Age:
              td #{profile.age}
            tr
              th Height:
              td #{profile.height}
            tr
              th Address:
              td #{profile.Address}
        div(class='mdl-card__supporting-text')
      div.mdl-layout-spacer
      div(class='title-card mdl-card mdl-shadow--2dp mdl-color--green-50 mdl-cell mdl-cell--4-col-desktop')
        div(class='sub-title')
          h4 Fitness Information
        div(class='mdl-card__title')
          table(class='user-info mdl-cell mdl-cell--12-col')
            tr
              th Current Weight:
              td #{profile.currentWeight}

            tr
              th Calorie Goal:
              td #{profile.calorieGoal}
            tr
              th Weight Goal:
              td #{profile.goalWeight}

        div(class='mdl-card__supporting-text')
          a(href='/profile/edit/userinfo',class='mdl-button mdl-js-button mdl-button--raised mdl-color--green-500') edit
      div.mdl-layout-spacer
